@font-face { font-family: SFNSDisplay; 
			 src: url('../font/SFNSDisplay.ttf'); } 

.navbar.transparent.navbar-inverse .navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
.SFNSDisplay{
	font-family: SFNSDisplay;
}
#header{
	background-image: url("../img/background_header.png");
	width: 100%;
	height: 850px;
	background-size: cover;
	background-position:right bottom; 
}
.analysis-image{
	padding-top: 150px !important;
	width: 90%;
	height: auto
}
.teks-header{
	padding-top: 230px !important;
}
.teks-header h2{
	line-height: 42px;
	color: #fff;
}
.teks-header h6{
	padding-top: 15px;
	line-height: 28px;
	color: #fff;
	opacity: 0.9;
}
.teks-header .btn-light{
	font-size: 16px;
	padding: 10px 20px 10px 20px;
}
.teks-header .fa-play-circle{
	padding-left: 20px;
	color: #fff;
	font-size: 26px;
	vertical-align: middle;
}
.better-kiri h2{
	color: #141B2C;
	line-height: 42px;
}
#better{
	background-image: url("../img/background_middle1.png");
	padding-top: 40px;
	width: 100%;
	height: 850px;
	background-size: cover;
	background-position:right bottom;
}
.better-kiri h6{
	padding-top: 15px;
	color: #3A4451;
	opacity: 0.9;
	line-height: 25px;
	padding-bottom: 15px;
}
.better-kiri .btn-primary{
	background: linear-gradient(270deg, #273F97 0%, #2481DE 100%);
	font-size: 16px;
	padding: 10px 20px 10px 20px;
}
.card{
	margin-bottom: 40px;
	padding: 40px 35px 40px 35px;
	border-radius: 5px;
	border:none;
	box-shadow: 0 10px 50px 0 rgba(0,0,0,0.05);
	min-height: 360px;
}
.img-card{
	padding-top: 50px;
	width: 20%;
	text-align: left;
	padding-bottom: 20px;
}
.card h5{
	color: #3A4451;
}
.card h6{
	color: #3A4451;
	opacity: 0.9;
	line-height: 19px;
	font-size: 12px;
}
.card a{
	font-size: 12px;
	padding-top: 20px;
	color: #67A8E8 !important;
}
#caption{
	padding-top: 40px;
	background-image: url("../img/background_middle.png");
	width: 100%;
	height: 850px;
	background-size: 60% auto;
	background-position:right top; 
	background-repeat: no-repeat;
}
#caption .card{
	margin-top: 180px;
}
#experience{
	padding-top: 40px;
	background-image: url("../img/background_middle2.png");
	padding-top: 40px;
	width: 100%;
	height: 850px;
	background-size: cover;
	background-position:right bottom;
}
#footer{
	padding-top: 40px;
	background-image: url("../img/background_bottom.png");
	width: 100%;
	height: auto;
	background-size: 100% auto;
	background-position:cover; 
	background-repeat: no-repeat;
}
#footer ul{
	list-style-type: none;
	font-size:12px;
	line-height: 30px;
}
.judul-footer{
	line-height: 60px;
	opacity: 1 !important;
}
.logo-footer{
	padding-top: 100px;
	width: 10%;
	height: auto;
	text-align: left !important;
    display: flex;
}